// Breakpoints
$x-small-screens: 500px;
$small-screens: 768px;
$medium-screens: 992px;
$large-screens: 1200px;

// colors
$contact-info: #2b3349;
$primary-color: #20283f;
$secondary-color: #44d62c;
$secondary-button-hover: #39c923;
$secondary-background:#f7f8f9;
$dark-grey:#66696c;
$light-grey:#a9adb1;

// text
$x-small: 13px;
$small: 15px;
$medium: 18px;
$large: 22px;
$x-large: 25px;

// Buttons
$s-circle: 25px;
$m-circle: 45px;


// Padding
$section-padding: 40px;
